<% content_for :title, 'My-Exp | New Catagory' %>
<section class="container authentication">
  <h1 class="text-main-header">Editing <%=@catagory.name %></h1>

  <%= render "form", group: @catagory %>
  <%= link_to "Back to categories", groupies_path, class: "" %>
</section>