@import url('http://fonts.cdnfonts.com/css/proxima-nova-2?styles=44817,44813');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 300;
  scroll-behavior: smooth;
}

:root {
  --main: #3778c2;
  --second: #5fb523;
  --third: #434b54;
  --fourth: #6e757d;
  --fifth: #d7dadf;
  --error: #e2e05c;
  --success: #009070;
  --white: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #fcfcfc;
}

nav {
  display: flex;
  flex-direction: column;
  background: var(--main);
  height: 72px;
  padding: 16px;
  gap: 20px;
  justify-content: center;
}

.top-nav,
.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--main);
}

.hamburger,
.search {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
}

