<% content_for :title, 'Carpe Diem | New Transaction' %>
<section class="container authentication">
  <h1 class="text-main-header"> New Transaction for <%= @catagory.name %> catagory </h1>

  <%= render "form", expense: @expense %>
  
  <%= link_to 'Back to expenses', catagory_expenses_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</section>